@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
}

body {
    max-width: 980;
    margin: auto;
    scroll-behavior: smooth;
}

/* header with tel and mail */

header .contacts-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f44c7f;
    color: white;
}

header .phone-mail {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

header .phone-mail-icon{
    height: 16px;
    padding: 0 5px 0 0;
}

/*header on white background - logo, search, profile*/

header .logo-profile {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    margin: 0;
    padding: 20px;
    }

header .logo {
    width: 40%;
}

header .topnavigation {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: #f44c7f;
    padding: 0;
    margin: 0;
    height: 3rem;
}
header .topnavigation a {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}

header .topnavigation a:hover {
    border: 1px solid var(--accent-color);

}
@media (min-width: 550px) {

}
header .banner {
    min-height: 550px;
    background-image: url(../img/fb-slider.jpg);
    background-size: cover;
    background-position: center;

}