@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --main-color: black;
    --accent-color: white;
}

body {
    max-width: 980;
    margin: auto;
    scroll-behavior: smooth;
}

/* style for all buttons */
button {
    background-color: #f44c7f;
    color: white;
    margin: 8px;
    border: 1px;
    cursor: pointer;
    width: 25%;
}

/* header with tel and mail */

header .contacts-header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f44c7f;
    color: white;
}

header .phone-mail {
    margin: 0;
    padding: 5px 10px 5px 10px;
}

header .phone-mail-icon{
    height: 16px;
    padding: 0 5px 0 0;
}

/*header on white background - logo, search, profile*/

header .logo-profile {
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    margin: 0;
    padding: 20px;
    }

header .logo {
    width: 40%;
}

                           /*Login modal*/

/* Inputs for login */
input[type=text], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.login-avatar {

    background-color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: block;
    width: auto;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44c7f;
}

/* Center the image and position the close button */
.login-container {
  text-align: center;
  margin: 0 0 12px 0;
  position: relative;
}

img.login-avatar-img {
  width: 25%;
  border-radius: 50%;
}

.container-login-info {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 0;
}

/* The Modal (background) */
.modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black with opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #f44c7f;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f44c7f;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 320px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

header .topnavigation {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-color: #f44c7f;
    padding: 0;
    margin: 0;
    height: 3rem;
}
header .topnavigation a {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}

header .topnavigation a:hover {
    border: 1px solid var(--accent-color);

}
@media (min-width: 550px) {

}
header .banner {
    min-height: 550px;
    background-image: url(../img/fb-slider.jpg);
    background-size: cover;
    background-position: center;

}